In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("y1819.csv")

In [3]:
data.head(100)

,Unnamed: 0,Date,Category,Headline,Text
0,0,"April 29, 2018 11:20 IST",economy,India likely to clock 7.5% growth in FY19: Deu...,The Indian economy is witnessing a “cyclical...
1,1,"April 30, 2018 00:30 IST",bengaluru,To vote or not to vote... that is the question,Citizens’ date with democracy falls on a wee...
2,2,"April 24, 2018 12:49 IST",economy,"Protectionism in all forms should be rejected,...",India on April 24 said protectionism in all ...
3,3,"April 24, 2018 19:29 IST",economy,Government seeks suggestions of long-term capi...,The government on Tuesday opened for public ...
4,4,"April 01, 2018 13:25 IST",economy,Diesel price rises to highest-ever ₹64.58,The price of petrol rose to a four-year high ...
...,...,...,...,...,...
95,95,"April 16, 2018 23:27 IST",hyderabad,"BJP welcomes verdict, demands Cong. apology",Telangana Bharatiya Janata Party has demanded...
96,96,"April 16, 2018 01:29 IST",delhi,Gurugram residents raise concerns over waste-t...,The Haryana government’s waste-to-energy pla...
97,97,"April 16, 2018 01:31 IST",delhi,‘Work to build a more gender-just world’,"Rebecca Tavares, the United Nation’s Women’s..."
98,98,"April 16, 2018 23:52 IST",hyderabad,Farmers feel the harvesting blues,Shortage of harvesters and increasing wages f...
99,99,"April 16, 2018 01:40 IST",delhi,"Restaurant owner, staffers thrashed over bill ...",A restaurant owner and two of his staff memb...

In [39]:
len(data)

59146

In [30]:
associated_words = ['corruption',
 'nepotism',
 'favouritism',
 'indiscipline',
 'maladministration',
 'graft',
 'wrongdoing',
 'mismanagement',
 'illegality',
 'criminality',
 'horse trading',
 'misuse',
 'corrupt',
 'omission',
 'impropriety',
 'dishonest',
 'inefficiency',
 'scandal',
 'scam',
 'malice',
 'tactic',
 'vendetta',
 'allegation',
 'cash for vote',
 'coercion',
 'bribe',
 'conspiracy',
 'undue',
 'accusation',
 'irregularity',
 'malafide']

In [31]:
associated_weights = [1,
 0.9195553064346313,
 0.8965622186660767,
 0.8548580408096313,
 0.8346401453018188,
 0.8276455998420715,
 0.7929514646530151,
 0.7868432998657227,
 0.7804960012435913,
 0.7802691459655762,
 0.7802132368087769,
 1,
 0.7622466087341309,
 0.7567644119262695,
 0.7549698352813721,
 0.752644419670105,
 0.7506660223007202,
 0.7474774122238159,
 0.7340414524078369,
 0.7330329418182373,
 0.727906346321106,
 0.7277158498764038,
 0.725343644618988,
 0.7236220240592957,
 0.7228101491928101,
 0.7221366763114929,
 0.7185566425323486,
 0.7079461812973022,
 0.7077040672302246,
 0.7007368206977844,
 0.7007308602333069]

In [32]:
for i in range(len(associated_words)):
    print(associated_words[i], associated_weights[i])
    
print(len(associated_words))
print(len(associated_weights))

corruption 1
nepotism 0.9195553064346313
favouritism 0.8965622186660767
indiscipline 0.8548580408096313
maladministration 0.8346401453018188
graft 0.8276455998420715
wrongdoing 0.7929514646530151
mismanagement 0.7868432998657227
illegality 0.7804960012435913
criminality 0.7802691459655762
horse trading 0.7802132368087769
misuse 1
corrupt 0.7622466087341309
omission 0.7567644119262695
impropriety 0.7549698352813721
dishonest 0.752644419670105
inefficiency 0.7506660223007202
scandal 0.7474774122238159
scam 0.7340414524078369
malice 0.7330329418182373
tactic 0.727906346321106
vendetta 0.7277158498764038
allegation 0.725343644618988
cash for vote 0.7236220240592957
coercion 0.7228101491928101
bribe 0.7221366763114929
conspiracy 0.7185566425323486
undue 0.7079461812973022
accusation 0.7077040672302246
irregularity 0.7007368206977844
malafide 0.7007308602333069
31
31

In [33]:
data["Text"][0]

'  The Indian economy is witnessing a “cyclical upswing” and the country is likely clock GDP growth of 7.5% this financial year, says a Deutsche Bank research report. “Our current growth forecast for 2018-19 is 7.5% (RBI estimate is 7.4%), which will mark an improvement from the 6.7% likely out turn in 2017-18,” the global financial services major said.  The Reserve Bank expects India’s economic growth rate to strengthen to 7.4% in the current fiscal, from 6.6% in 2017-18, on account of revival in investment activity.  The report, however, noted that higher global oil prices, risk of an earlier than anticipated rate hike cycle from the RBI and the potential negative impact of the banking sector frauds on credit and overall growth are some of the factors that pose downside risk to its baseline GDP estimate.  Brent crude prices are currently hovering around $75 a barrel, which is up 12% from end-December 2017 levels.  According to the Deutsche Bank research report, a $10 increase in oil prices can shave off growth by about 10 bps while other factors pose about 15-20 bps additional downside risks.  Notwithstanding the fact that higher oil prices can potentially slow the pace of recovery, economic momentum will continue to improve “sequentially in 2018-19 and beyond”, the report noted. “Capacity utilisation has started to improve, which should incentivise private sector capex recovery with a lag, GST collections have picked up thanks to the implementation of e-way bill, NPA resolution is underway and the government is likely to remain focused on pushing infrastructure investment, which should bode well for the growth outlook going forward,” the report added. '

In [34]:
from nltk.tokenize import word_tokenize

In [38]:
article = data["Text"][160].lower()

tokens = word_tokenize(article)
article_score = 0
for word in tokens:
    for i in range(31):
        if( word == associated_words[i]):
            print(word)
            article_score += associated_weights[i]
        
print(article_score)

corruption
allegation
corruption
corruption
corruption
corruption
accusation
6.433047711849213

In [40]:
data["Score"] = data.apply(lambda row: 0)

In [41]:
data.head(10)

,Unnamed: 0,Date,Category,Headline,Text,Score
0,0,"April 29, 2018 11:20 IST",economy,India likely to clock 7.5% growth in FY19: Deu...,The Indian economy is witnessing a “cyclical...,NaN
1,1,"April 30, 2018 00:30 IST",bengaluru,To vote or not to vote... that is the question,Citizens’ date with democracy falls on a wee...,NaN
2,2,"April 24, 2018 12:49 IST",economy,"Protectionism in all forms should be rejected,...",India on April 24 said protectionism in all ...,NaN
3,3,"April 24, 2018 19:29 IST",economy,Government seeks suggestions of long-term capi...,The government on Tuesday opened for public ...,NaN
4,4,"April 01, 2018 13:25 IST",economy,Diesel price rises to highest-ever ₹64.58,The price of petrol rose to a four-year high ...,NaN
5,5,"April 25, 2018 23:49 IST",national,Law Ministry clears Indu Malhotra's name for S...,Senior advocate Indu Malhotra will be the fir...,NaN
6,6,"April 15, 2018 12:27 IST",economy,Resolution of twin balance sheet problem to ta...,It may take at least three quarters before t...,NaN
7,7,"April 22, 2018 09:12 IST",economy,"Petrol price hits highest level, diesel at rec...",Petrol price today hit ₹74.40 a litre — the h...,NaN
8,8,"April 26, 2018 00:32 IST",mumbai,Three hurt as fire breaks out at chemical firm...,Three workers were injured and property wort...,NaN
9,9,"April 15, 2018 21:43 IST",economy,‘Robust exports can help India grow at 8%’,India can achieve more than 8% growth rate in...,NaN

In [58]:
for j in range(59146):
    if(j%1000 == 0):
        print(j)
    article = str(data["Text"][j]).lower()
    tokens = word_tokenize(article)
    article_score = 0
    for word in tokens:
        for i in range(31):
            if( word == associated_words[i]):
                article_score += associated_weights[i]
    data.at[j, 'Score'] = article_score

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000

In [59]:
data.head(10)

,Unnamed: 0,Date,Category,Headline,Text,Score
0,0,"April 29, 2018 11:20 IST",economy,India likely to clock 7.5% growth in FY19: Deu...,The Indian economy is witnessing a “cyclical...,0.0
1,1,"April 30, 2018 00:30 IST",bengaluru,To vote or not to vote... that is the question,Citizens’ date with democracy falls on a wee...,0.0
2,2,"April 24, 2018 12:49 IST",economy,"Protectionism in all forms should be rejected,...",India on April 24 said protectionism in all ...,0.0
3,3,"April 24, 2018 19:29 IST",economy,Government seeks suggestions of long-term capi...,The government on Tuesday opened for public ...,0.0
4,4,"April 01, 2018 13:25 IST",economy,Diesel price rises to highest-ever ₹64.58,The price of petrol rose to a four-year high ...,0.0
5,5,"April 25, 2018 23:49 IST",national,Law Ministry clears Indu Malhotra's name for S...,Senior advocate Indu Malhotra will be the fir...,0.0
6,6,"April 15, 2018 12:27 IST",economy,Resolution of twin balance sheet problem to ta...,It may take at least three quarters before t...,0.0
7,7,"April 22, 2018 09:12 IST",economy,"Petrol price hits highest level, diesel at rec...",Petrol price today hit ₹74.40 a litre — the h...,0.0
8,8,"April 26, 2018 00:32 IST",mumbai,Three hurt as fire breaks out at chemical firm...,Three workers were injured and property wort...,0.0
9,9,"April 15, 2018 21:43 IST",economy,‘Robust exports can help India grow at 8%’,India can achieve more than 8% growth rate in...,0.0

In [60]:
data["Score"][160]

6.433047711849213

In [61]:
data.to_csv("y_1819_Scored.csv")

In [62]:
data = data.sort_values(by="Score", ascending=False).reset_index(drop=True)

In [63]:
data.head(10)

,Unnamed: 0,Date,Category,Headline,Text,Score
0,29964,"September 09, 2018 18:31 IST",national,Seeking sexual favours punishable under new an...,Seeking and accepting sexual favours can be ...,20.227542
1,55767,"March 29, 2019 01:21 IST",tamil nadu,Corrupt public servants must be declared anti-...,Likening non-corrupt judges and public serva...,15.215396
2,2284,"April 27, 2018 18:32 IST",karnataka,Rahul dares Modi to disclose BJP CM candidate’...,Congress president Rahul Gandhi on Friday da...,9.496288
3,4983,"May 19, 2018 17:40 IST",kerala,CM wants victims of corruption to speak up,Chief Minister Pinarayi Vijayan has urged th...,9.312029
4,54885,"March 21, 2019 01:39 IST",delhi,Union Ministers burn ‘monstrous holika’ of cor...,"Union Ministers Vijay Goel, Prakash Javadekar...",8.936166
5,2285,"April 27, 2018 23:36 IST",karnataka,Rahul seeks to turn the tables on the BJP,Seeking to turn the tables on the BJP on the ...,8.762247
6,25934,"September 19, 2018 00:50 IST",tamil nadu,‘Centre turning a blind eye to corruption in T...,Accusing the AIADMK government of engaging in...,8.742163
7,41034,"December 01, 2018 01:48 IST",delhi,‘CM encouraging corruption by not sacking UD M...,The Bharatiya Janata Party (BJP) on Friday ac...,8.484383
8,12313,"June 01, 2018 14:34 IST",other states,"After bypoll defeat, UP MLA’s Facebook post te...",A day after the BJP lost bypoll elections in ...,8.286740
9,42858,"December 03, 2018 18:36 IST",national,Coal scam: Court to award punishment to ex-Coa...,A Delhi court on Monday reserved for Decembe...,8.107321

In [68]:
filehandle = open("Index_top_10.txt","w")
for i in range(10):
    filehandle.write("Headline: "+ str(data["Headline"][i]))
    filehandle.write("\nDate: "+ str(data["Date"][i]))
    filehandle.write("\nScore: "+ str(data["Score"][i])+"\n")
    filehandle.write(str(data["Text"][i]))
    filehandle.write("\n\n\n")

In [76]:
num_corr = data[data["Score"]>1.5]

In [77]:
print(len(num_corr))

1256